{%extends "users/layout.html"%}

{%block body%}

<h1>Welcome {{request.user.first_name}}</h1>

<ul>
    <li>Username: {{request.user.username}}</li>
    <li>Email: {{request.user.email}}</li>
    <li>First Name: {{request.user.first_name}}</li>
    <li>Last Name: {{request.user.last_name}}</li>
</ul>

<a href="{% url 'logout' %}">Logout</a>

{%if request.user.is_authenticated %}
    <p>You are logged in.</p>
{%else %}
    <p>You are not logged in.</p>
{%endif%}
{%endblock%}

